 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400&display=swap');
 
 body {
             /* overflow: hidden; */
             font-family: 'Montserrat', sans-serif;
             margin: 0;
             overflow-y: auto !important;
        }

        .container::-webkit-scrollbar {
          width: 3px;
          height: 8px;
          background-color: transparent; /* or add it to the track */
        }

        /* Add a thumb */
        .container::-webkit-scrollbar-thumb {
          background: #000;
        }

        h2 {
            margin: 30px 0px;
            margin-left: 20px;
        }
        .container {
            /* border: 1px solid black;
            border-radius: 20px; */
            width: 50vw;
            margin: 20vh auto;
            overflow-x: hidden;
            padding: 10px;
        }

        .title {
            width: 100%; display: flex;
        }

        .title .number {
            color: #015CFF; 
            font-weight: 700; 
            display: flex; 
            justify-items: center; 
            align-items: center;
            font-size: 30px;
            width: 50px;
            font-family: "Space Grotesk", sans-serif;
        }
        .title .line {
            background: #015CFF; 
            height: 50px; 
            width: 1px; 
        }
        .title .text {
            display: flex; 
            justify-items: center; 
            align-items: center;
            font-weight: 700;
            font-size: 30px;
            /* font-family: "Space Grotesk", sans-serif; */
            color: grey;
            margin-left: 20px;
        }
        .item-body {
            display: flex;
            justify-content: flex-end;
            padding: 20px 0px;
            padding-right: 10px;
            border: 1px solid grey;
            border-radius: 20px;
            margin: 20px 0;
        }

        .item-body.form {
            justify-content: center;
        }

        .item-body form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 20px;
            font-family: 'Montserrat', sans-serif;
        }

        form input {
            background: transparent;
            padding: 10px;
            padding-left: 20px;
            border-radius: 10px;
            border: 1px solid grey;
            outline: none;
            font-family: 'Montserrat', sans-serif;
        }

        form .form-item {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        form .form-item svg {
            position: absolute;
            right: 3%;
            top: 55%;
            /* transform: translateY(-0%); */
        }

        form select {
            background: transparent;
            padding: 10px 20px;
            font-family: 'Montserrat', sans-serif;
            border-radius: 10px;
            appearance: none;
            outline: none;
        }

        form select option {
            color: #000;
            background-color: #EBEBEB;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            padding: 20px;
        }

        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            /* border: 1px solid grey;
            border-radius: 10px; */
        }

        /* table tr {
            border: 1px solid gray;
        } */

        table td {
            width: 25%;
            /* border: 1px solid grey;
            border-radius: 20px; */
            padding: 10px;
        }

        table td:nth-child(3) {
            width: 50%;
        }
        .accordion-body {
            padding: 50px !important;
        }

        .item {
            margin-left: 10px;
        }

        button.register {
            padding: 15px 10px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e6b938;
            text-decoration: none;
            color: #000;
            font-family: 'Montserrat', sans-serif;
        }

        @media (max-width: 900px) {
            .container {
                width: 90vw;
                padding: 0;
            }

            .item-body form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
        }
        }